html {
  background-color: #1E64CD;
  height: 100%;
}

#container {
  font-family: 'Open Sans', sans-serif;
  color: white;
  max-width: 70%;
  margin: 0 auto;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
  transition:.2s all ease-in-out;
}

a:hover {
  color: #CED3DC;
}

img {
  max-height: 50%
}
